<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Change Password</title>

    <link rel="stylesheet" href="/static/css/style.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</head>

<body>

    <div style="max-width:400px;margin:auto;margin-top:100px">

        <h2>Change Password</h2>

        <input type="text" id="code" placeholder="Enter code" class="form-control">

        <input type="password" id="password" placeholder="New password" class="form-control" style="margin-top:10px">

        <button onclick="changePassword()" style="margin-top:10px">
            Change Password
        </button>

    </div>

    <script>

        const params = new URLSearchParams(window.location.search);
        const email = params.get("email");

        async function changePassword() {

            const code = document.getElementById("code").value;
            const password = document.getElementById("password").value;

            const response = await fetch("/change-password", {

                method: "POST",

                headers: {
                    "Content-Type": "application/x-www-form-urlencoded"
                },

                body: new URLSearchParams({
                    email: email,
                    code: code,
                    password: password
                })

            });

            const data = await response.json();

            if (data.status === "success") {

                Swal.fire({
                    icon: "success",
                    title: "Password updated"
                }).then(() => {

                    window.location.href = "/login";

                });

            } else {

                Swal.fire({
                    icon: "error",
                    title: data.message
                });

            }

        }

    </script>

</body>

</html>